.image-logo{
    width: 180px;
}

.navbar{
    padding: 0px;
    
}

.min-height{
    min-height: 500px;
}

.footer{
    
    text-align: center;
    height: 80px;
    color: white;
    background-color: black;
    padding-top: 25px;
    margin-top: 10px;
    /*font-size: large;  DID NOT WORK*/
}
.border{
    border: #000 dotted thin;
    
}

.margin-top{
    margin-top: 10px;
}
